// COLORS
$primary-color: #E60000;
$secondary-color: #FF0000;
$bg-color: #020203;
$text-white: #FFFFFF;
$text-grey: #74798C;

// BREAKPOINTS
$mdb: 1024px; // medium desktop
$lgb: 1440px; // large desktop
$xlb: 1920px; // FHD desktop
$xxlb: 2560px; // WQHD desktop
$xxxlb: 3840px; // 4K UHD desktop
